%section#header
  Logic stuff from #{link_to 'Luis (lemniscate#6608)', 'https://gist.github.com/helloluis/9846306'}
  %br
  Thingy webified by #{link_to '@keikun17', 'http://www.twitter.com/keikun17'}

%hr

%input#fagsource{type: 'text' , placeholder: 'challonge url'}
%button#do_it_faggot
  Fetch

#results

